<div class="note-card" data-target="click->note#note.edit" >
  <p><%= note.content %></p>
  <%= link_to note_path(note), remote: true, method: :delete, remote: true do %>
    <span><i class="fas fa-times"></i></span>
  <% end %>
</div>
