<div data-controller="note">
  <h1 class='text-center'>Notes</h1>
  <% if @notes.empty? %>
    <p>You don't have any notes yet. Go ahead and add your first one!</p>
  <% else %>
    <div class="container">
      <!-- <button class='btn btn-outline-primary btn-sm round' data-target="note.sort" data-action="click->note#sortNotes" data-note-sort="content"><i class="fas fa-sort-alpha-down"></i></i> Sort by ABC</button>
      <button class='btn btn-outline-primary btn-sm round' data-target="note.sort" data-action="click->note#sortNotes" data-note-sort="date"><i class="fas fa-history"></i></i> Sort by date</button> -->
      <%= turbo_frame_tag 'notes' do %>
        <div class="row" data-target="note.list" >
          <% @notes.order(:created_at).each do |note| %>
            <%= render 'note', note: note %>
          <% end %>
          <div class="col-3">
            <div class="new-note-card">
              <%= turbo_frame_tag "new_note", src: new_note_path(@note), target: '_top' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
