// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #fe7a3a;
$orange-text: #e98a5d;
$orange-bg: #c25d2c;
$green: #1EDD88;
$gray: #0E0000;
$light-grey: #F4F4F4;

$light-white: #f6e9e9;
$black: #121212;
$grey1: #272727;
$grey2: #3d3d3d;
