// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #e16428;
$orange-light: #e98a5d;
$green: #1EDD88;
$gray: #0E0000;
$light-grey: #F4F4F4;
$black: #121212;
$grey1: #272727;
$grey2: #3d3d3d;
