.note-card {
  min-height: 170px;
  height: auto;
  margin: 0.8rem 0;
  padding: 1rem;
  position: relative;
  background-color: #ffe070;
  a {
    text-decoration: none;
    color: inherit;
  }
  i {
    position: absolute;
    bottom: 4px;
    right: 4px;
    padding: 10px;
  }
  #note_content {
    background-color: #ffe78f;
    color: inherit;
    border: none;
    padding: 0;
  }
}

.new-note-card {
  min-height: 160px;
  height: auto;
  margin: 0.8rem 0;
}

.note-card.dark {
  background-color: $orange-bg;
  a { color: $light-white; }
  #note_content {
    background-color: $orange-bg;
    color: $light-white;
  }
}

// turbo-frame {
//   display: block;
//   border: 1px solid blue;
// }
